#Quarkus
.quarkus

# Gradle
.gradle/
build/

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo
*.db

# patch
*.orig
*.rej

# Local environment
.env

# Credentials
*.p12
*.jks

.terraform
*.tfstate
*.tfstate.backup

# Mise (package manager)
.mise.toml


